.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: grey;
    color: black;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 25px;
    color: grey;
    text-align: center;
    margin-bottom: 0px;
}

p {
    margin: 2vw;
    text-align: center;
}
.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: grey;
    color: black;
}

.column{
	float: left;
	width: 30%;
	padding: 2vh;
	padding-left: 2vw;
	margin: 0.166vh;
	border: 2px solid black;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:99.5vw) {
  .column {
    width: 100%;
  }
